<%= form_with model: trip, local: true do |f|%>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="field">
    <%= f.label :title, "名称" %><br />
    <%= f.text_field :title, id:"trip_title" %>
  </div>

  <div class="field">
    <%= f.label :concept, "案内" %><br />
    <%= f.text_area :concept, class: :form__text, id:"trip_concept" %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, id:"trip_image" %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>